* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    height: 100vh;
}

/* GRID-контейнер для всей страницы */
.container {
    width: 800px;
    height: 600px;
    border: 2px solid #000;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(2, 30% 70%);
    grid-template-rows: repeat(3, 8% 84% 8%);
}

/* Хедер (флекс) */
.header {
    background: #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
#na {
    grid-column: 1 / 2;

}
#ti {
    grid-column: 2 / 3;
  
}
#us {
    grid-column: 3 / 4;
    
}

/* Боковое меню чатов */
.chat-list {
    background: #f4f4f4;
    padding: 10px;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

/* Главное окно чата */
.chat-window {
    background: #fff;
    padding: 10px;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    grid-template-rows: repeat(2, 90% 10%);
}

/* Сообщения */
.messages {
    overflow-y: auto;
    background: #eaeaea;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

/* Отдельное сообщение */
.message {
    background: #cce5ff;
    padding: 5px;
    border-radius: 5px;
}


.message--foreign {
    align-self: end;
}

/* Поле ввода */
.message-input {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-row: 2 / 3;
}

/* Футер */
.footer {
    background: #ddd;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}
